@import "tailwindcss";

/* :root 정의는 괜찮아 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 이 부분 삭제하거나 주석 처리하세요
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", Helvetica, sans-serif;
  /* @apply text-black font-pretendard; */
}

.font-playfair {
  font-family: var(--font-playfair);
}


.main-red {
  background-color: #ff4545;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}